@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

/* HEADER */
header {
  height: 5vh;
  width: 100vw;
  background-color: #AB2A19;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.logo {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.headerButtons {
  border-radius: 5px;
  border: none;
  background-color: #ED6B5A;
  height: 1.4rem;
}

#dash {
  margin-left: 20px;
}

#add {
  margin-left: 5px;
}
#logotext{
  color: rgb(255,255,255);
  margin-left: 20px;
}

/**********/

/* BODY */
.App {
  height: 95vh;
  width: 100vw;
}

.bodySection {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

/* DASHBOARD */

/* PRODUCT BOX */
.productBox {
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: #D34735;
  width: 100%;
  height: 150px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.productImg {
  margin-left: 20px;
}
.infoSection {
  background-color: #D34735;
  line-height: 0px;
  margin-left: 20px;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: stretch;
}

/*************/
/*************/
/* EDIT BOX */
.editBoxButton {
  background-color: #ED6B5A;
  border-radius: 5px;
  height: 2rem;
}

#secondButton {
  margin-left: 20px;
}

.newProductBox{
  margin-top: 20px;
  background-color: #3AD886;
  border-radius: 10px;
  min-height: 520px;
  min-width: 450px;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;

}

#newProductInput {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
  align-content: stretch;
  width: 200px;
}

#displayImg {
  margin-top: 20px;
  height: 200px;
  width: 320px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  object-fit: scale-down;
  border: solid 1px black;
}

.productEditors{
  margin-top: 10px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
  align-content: stretch;
}

.productButtons {
  background-color: #3AD886;
  border-radius: 5px;
  height: 1.4rem;
}

#edit {
  margin-left: 70px;
}

#buttons {
  margin-top: 10px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}
/************/

/********/