@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

/* HEADER */
header {
  height: 5vh;
  width: 100vw;
  background-color: #AB2A19;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

#logotext{
  color: rgb(255,255,255);
  margin-left: 20px;
}

/**********/

/* BODY */
.App {
  height: 95vh;
  width: 100vw;
}

.bodySection {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: stretch;
}

/* DASHBOARD */

/* PRODUCT BOX */
.productBox {
  margin-top: 20px;
  margin-left: 20px;
  border: solid 1px black;
  background-color: #D34735;
  width: 100%;
  height: 150px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.productImg {
  margin-left: 20px;
}
.infoSection {
  background-color: #D34735;
  line-height: 0px;
  margin-left: 20px;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: stretch;
}

/*************/
/*************/
/* EDIT BOX */
.editBoxButton {
  background-color: #ED6B5A;
  border-radius: 5px;
  height: 2rem;
}

.newProductBox{
  margin-top: 20px;
  background-color: #3AD886;
  height: 500px;
  width: 500px;

}

.displayImg {
  height: 300px;
  width: 100px;
  border: solid 1px black;
}

.productButtons{
  margin-top: 10px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

#edit {
  margin-left: 20px;
}
/************/

/********/