/* HEADER */
header {
  height: 5vh;
  width: 100vw;
  background-color: #AB2A19;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

#logotext{
  color: rgb(255,255,255);
  margin-left: 20px;
}

/**********/

/* BODY */
.App {
  height: 95vh;
  width: 100vw;
  background-color: blue;
}

/********/